<div class="modal fade" id="modalAddFolder" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nueva carpeta</h4>
            </div>
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <div class="form-group">
                        <label for="inputNameAddFolder">Nombre</label>
                        <input type="text" class="form-control" id="inputNameAddFolder" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary submitBtn" id="btnAddFolder">Crear</button>
            </div>
        </div>
    </div>
</div>